	<script>
	$(function () {
		$("html, body").animate({ scrollTop:	$(document).height()-$(window).height() }, 1800);
		return false; 
	});
</script>

<div class="content-wrapper">
	<div class="content">
		<h2 class="content-head is-center" style="margin-top: 5%; margin-bottom: 5%">Director Management</h2>
		<form class="pure-form-single" action="/admin/manage_director">
			<div id='cssmenu'>
				<ul>
					<li class='active'><a href='#tab1' rel="tab1"><span>View Director</span></a></li>
					<li style='float:right'class='last'><a href='#tab2' rel="tab2"><span>Add Director</span></a></li>
				</ul>
			</div>
		</form>

		<!--	tab change script	-->
		<script>
			$(document).ready(function(){
				//	When user clicks on tab, this code will be executed
				$("#cssmenu li").click(function() {
					//	First remove class "active" from currently active tab
					$("#cssmenu li").removeClass('active');

					//	Now add class "active" to the selected/clicked tab
					$(this).addClass("active");

					//	Hide all tab content
					$(".mtab_content").hide();

					//	Here we get the href value of the selected tab
					var selected_tab = $(this).find("a").attr("href");

					//	Show the selected tab content
					$(selected_tab).fadeIn();

					//	At the end, we add return false so that the click on the link is not executed
					return false;
				});
				$("#simulate").click(function(){
					$('a[rel="tab1"]').trigger("click");
				});
			});
		</script>
    <%= include admin-director-view.ejs %>
	<%= include admin-director-add.ejs %>
	</div>
