<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
         return false; 
});
</script>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Movie Management</h2>
        <% console.log(all_movie); %>
        <%= all_movie %>
      <!-- TODO: update table for movie -->
    </div>
</div>