<!doctype html>
<html lang="en">
<head>
  <script src="/js/jquery-2.1.1.min.js"></script>
  <meta charset="utf-8">
  <title>Hey-Movie</title>
  <link rel="stylesheet" href="/css/pure/pure.css" />
  <link rel="stylesheet" href="/css/layouts/marketing.css" />
</head>
<body class="admin-body">
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <ul>
        <li class="pure-menu-selected pure-menu-home"><a href="/">Hey Movie</a></li>
        <% if (typeof user === 'undefined') { %>
        <li class="pure-menu-normal"><a href="/signup">Sign up</a></li>
        <% } else { %>
        <li class="pure-menu-normal"><a href="/logout">Log out</a></li>
        <li class="pure-menu-normal"><a href="/profile">User Profile</a></li>
        <% } %>
      </ul>
    </div>
  </div>