<div id="tab3" class="mtab_content" style="display: none;">
	<form action="/admin/delete_director" method="post" class="pure-form pure-form-single" style="margin-top: 5%; margin-left: 0.5%;">
		<input name="delete_name" type="text" placeholder="Director Name" style="margin-bottom: 16%; margin-top: 10%">
		<button type="submit" class="pure-button pure-button-primary" style="margin-bottom: 10%">Delete Director</button></div>
	</form>
</div>