<script>
	$(document).ready(function(){
		$(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
		$.post('/ajax/get_selected_movie', {'movie_id':$(this).attr('id')}, function(data) {
			var movie = JSON.parse(data);
			$("#movie_id").val(movie.movie_id);
			$("#movie").val(movie.title);
		});
	}); 
	
</script>
<div class="content show-management" style="display : none">
	<h2 class="content-head is-center" style="margin-top: 5%; margin-bottom: 5%">Add Show</h2>
	<form action="/admin/show/add_show" method="post" class="pure-form pure-form-single" style="margin-top: 5%;">
		<input id="movie" disabled="disabled" name="movie" type="text" placeholder="Movie Title" />
		<input id="movie_id" type="hidden" name="movie_id" />
		<select name="subtitle" style="height: 36px;width: 100%; margin-bottom: 1em;">
			<option value="">Select Subtitle Language</option>
			<option value="Arabic">Arabic</option>
			<option value="Chinese">Chinese</option>
			<option value="Danish">Danish</option>
			<option value="Dutch">Dutch</option>
			<option value="English">English</option>
			<option value="French">French</option>
			<option value="German">German</option>
			<option value="Greek">Greek</option>
			<option value="Hindi">Hindi</option>
			<option value="Indonesian">Indonesian</option>
			<option value="Italian">Italian</option>
			<option value="Japanese">Japanese</option>
			<option value="Korean">Korean</option>
			<option value="Latin">Latin</option>
			<option value="Malay">Malay</option>
			<option value="Polish">Polish</option>
			<option value="Russian">Russian</option>
			<option value="Thai">Thai</option>
		</select>
		<input name="start_time" type="text" id="d" class="form_datetime" placeholder="Start Time">
		<input name="end_time" type="text" class="form_datetime" placeholder="End Time">
		<br /><br /><br />
		<button type="submit" class="pure-button pure-button-primary" style="margin-bottom: 10%">Add Movie</button>

	</form>
</div>