<%= include header.ejs %>
  <div class="splash-container">
    <!-- 滚动 上 -->
    <div id="butong_net_right" style="overflow:hidden;width:1500px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr><td id="butong_net_right1" valign="top" align="center">
<table cellpadding="0" cellspacing="0" border="0">
<tr align="center">
<td><p><img src="img/film.png"/></p></td>
<td><p><img src="img/film.png"/></p></td>
</tr>
</table>
</td>
<td id="butong_net_right2" valign="top"></td>
</tr>
</table>
</div>
<script>
var speed=30//速度数值越大速度越慢
butong_net_right2.innerHTML=butong_net_right1.innerHTML
function Marquee4(){
if(butong_net_right.scrollLeft<=0)
butong_net_right.scrollLeft+=butong_net_right2.offsetWidth
else{
butong_net_right.scrollLeft--
}
}
var MyMar4=setInterval(Marquee4,speed)
butong_net_right.onmouseover=function() {clearInterval(MyMar4)}
butong_net_right.onmouseout=function() {MyMar4=setInterval(Marquee4,speed)}
</script>
    <div class="splash">        
        <h1 class="splash-head">Hey Movie!</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>   

 

<!-- 滚动 下 -->

<div id="butong_net_right_bottom" style="overflow:hidden;width:1500px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr><td id="butong_net_right1_bottom" valign="top" align="center">
<table cellpadding="0" cellspacing="0" border="0">
<tr align="center"> 
    
<td><p><img src="img/film.png"/></p></td>
<td><p><img src="img/film.png"/></p></td>
    
</tr>
</table>
</td>
<td id="butong_net_right2_bottom" valign="top"></td>
</tr>
</table>
</div>

<script>
var speed=30//速度数值越大速度越慢
butong_net_right2_bottom.innerHTML=butong_net_right1_bottom.innerHTML
function Marquee4_bottom(){
if(butong_net_right_bottom.scrollLeft<=0)
butong_net_right_bottom.scrollLeft+=butong_net_right2_bottom.offsetWidth
else{
butong_net_right_bottom.scrollLeft--
}
}
var MyMar4_bottom=setInterval(Marquee4_bottom,speed)
butong_net_right_bottom.onmouseover=function() {clearInterval(MyMar4_bottom)}
butong_net_right_bottom.onmouseout=function() {MyMar4_bottom=setInterval(Marquee4_bottom,speed)}
</script>


</div>





  <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
      <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>



  <p>
  <!-- There are <%= ans.count %> rows in <%= ans.table %> -->
  </p>
   
<%= include footer.ejs %>