<%= include header.ejs %>
<div class="content-wrapper-form">
    <div class="content">
        <p class="signup-header">Join Hey Movie!</p>
        <form class="pure-form pure-form-single">
            <fieldset>
                    <!-- <legend>A compact inline form</legend> -->

                    <input id="name" type="text" placeholder="Your Name">
                    <input type="password" placeholder="Password">
                    <input type="email" placeholder="Email">

                    <button type="submit" class="pure-button pure-button-primary">Sign up</button>
            </fieldset>
        </form>
        <div class="signup-have-account">
            <ul>
                Already have an account? 
                <a href="/login" style="text-decoration:none;">Sign in</a>
            </ul>
        </div> 
    </div>
</div>

<%= include footer.ejs %>