<div id="butong_net_right_movie" style="overflow:hidden;width:100%">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td id="butong_net_right1_movie" valign="top" align="center">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr align="center">
						<td><img src="img/index_movie/movie_list_1.png"  height="96%" vspace="1%"/></td>
						<td><img src="img/index_movie/movie_list_2.png"  height="96%" vspace="1%"/></td>
						<td><img src="img/index_movie/movie_list_3.png"  height="96%" vspace="1%"/></td>
						<td><img src="img/index_movie/movie_list_4.png"  height="96%" vspace="1%"/></td>
						<td><img src="img/index_movie/movie_list_5.png"  height="96%" vspace="1%"/></td>
					</tr>
				</table>
			</td>
		<td id="butong_net_right2_movie" valign="top"></td>
		</tr>
	</table>
</div>
<script>
var speed=30//速度数值越大速度越慢
butong_net_right2_movie.innerHTML=butong_net_right1_movie.innerHTML
function Marquee4(){
	if(butong_net_right_movie.scrollLeft<=0)
		butong_net_right_movie.scrollLeft+=butong_net_right2_movie.offsetWidth
	else{
		butong_net_right_movie.scrollLeft--
	}
}
var MyMar4=setInterval(Marquee4,speed)
(onmouseover = "this.start()")
butong_net_right_movie.onmouseout=function() {MyMar4=setInterval(Marquee4,speed)}
</script>

<div class="splash">  
	<h1 class="splash-head">Hey <% 
		if (user === undefined) { 
			%>Movie!<% 
		} else if (user.is_admin){
			%><%= user.name + '!!!' %><%
		} else {
			%><%= user.name + '!' %><%
		} %></h1>
	<p class="splash-subhead">
		More than your imagination
	</p>
	<p>
		<%
		if (user !== undefined) { 
			%>
			<form action="/movie/homepage_movie_search" method="POST" class="pure-form pure-form-single">
				<input type="text" name="title_keyword" placeholder="Search for movie">
				<button type="submit" style="display:none" class="pure-button pure-button-primary">search</button>
			</form>
			<%
		} else {
			%><a href="/login" class="pure-button pure-button-primary">Log in</a><%
		} %>
	</p>
</div>   