<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
         return false; 
});
</script>

<div class="content-wrapper">
<div class="content-wrapper-form">
    <div class="content">
        <p class="form-header">Hey Movie!</p>

       
    </div><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- hack here! need change -->
</div>
</div>