<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
         return false; 
});
</script>

    <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Sorry! No Such Movie Result!</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    You Can Try to Search by Other Keywords!
                </h3>
                <p>
                    You may enter the wrong words.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Some Recommended Movie Here:
                </h3>
                <p>
                    Coming soon...
                </p><br></br><br></br><br></br><br></br><br></br>
            </div>
        </div>
    </div>
</div>