<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
         return false; 
});
</script>

<div class="content-wrapper">
<div class="content-wrapper-form">
    <div class="content">
        <p class="form-header">Hey Movie!</p>
        <form action="/user/login" method="POST" class="pure-form pure-form-single">
            <fieldset>
                <!-- <legend>A compact inline form</legend> -->

                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">

                <label for="remember" class="pure-checkbox">
                    <input id="remember" type="checkbox" value=""> Remember me
                </label>
                
                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
        <div class="login-create-account">
            <ul>
                Do not an account? <a href="/signup" style="text-decoration:none;">Sign up</a>
            </ul>
        </div>
    </div><br></br><br></br><br></br><br></br><br></br>
    <!-- hack here! need change -->
</div>
</div>