<div class="onshow-movie">
	<h2 class="content-head is-center" style="margin-top: 5%; margin-bottom: 5%">Movie</h2>
		<form class="pure-form-single">
			<div id='cssmenu'>
				<ul>
					<li class='active'><a href='#tab1' rel="tab1"><span> Search Movies</span></a></li>
					<li style='float:right'class='last'><a href='#tab2' rel="tab2"><span>On Showing</span></a></li>
				</ul>
			</div>
		</form>

		
	<%= include index-movie-search.ejs %>
    <%= include index-movie-onshowing.ejs %>
	
	</div>