<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
         return false; 
});
</script>

    <div class="content-wrapper">
    <div class="content">
         <h2 class="content-head is-center">Search Result</h2>

          <h2 class="content-head is-center" style="color:red">Sorry! No Result!!!</h2>
    </div>
</div>